@model ConferenceModel
@inject IOptions<GlobomanticsOptions> globomanticsOptions


<tr>
    <td>@Model.Name</td>
    <td>@Model.Location</td>
    <td>@Model.Start.ToString("dd.MM.yyyy")</td>
    <td>
        @if (Model.AtendeeTotal > globomanticsOptions.Value.BoldConferenceAtendeeThreshold)
        {
            <span><strong>@Model.AtendeeTotal</strong></span>
        }
        else
        {
            <span>@Model.AtendeeTotal</span>
        }
    </td>
    <td>
        <a asp-controller="Proposal" asp-action="Index" asp-route-conferenceId="@Model.Id">
            Proposals
        </a>
    </td>
</tr>